.git
.idea
.vscode
.env
.env.*
!.env.example
backups
docker/secrets
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app
modules/*
!modules/admin-theme
!modules/admin-theme/**
!modules/page-builder
!modules/page-builder/**
modules/**/*.zip
public/platform/plugins/*
!public/platform/plugins/art-inpa-admin-pro-theme
!public/platform/plugins/art-inpa-admin-pro-theme/**
!public/platform/plugins/page-builder
!public/platform/plugins/page-builder/**
public/platform/plugins/**/*.bak
public/platform/plugins/**/*.bak-*
public/platform/plugins/**/*.backup-*
